.container {}

.page_content {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.title {
    color: rgb(92, 70, 153);
    text-align: center;
}

.links {
    display: flex;
    justify-content: center;
    flex-direction: column;
    cursor: pointer;
}

.invalid_message {
    color: red;
    font-size: 12px;
}

.info {
    color: rgb(92, 70, 153);
    text-align: center;
    font-weight: 800;
}

.logo_img {
    margin: auto;
    text-align: center;
}