<div class="container mt-5">
    <div class="row">

        <div class="col-lg-2 col-md-4 col-sm-6">
            <div class="col-12">
                <select class="form-control" id="type" [(ngModel)]="measure" (change)="getMeasures()">
                <option *ngFor="let option of options" [ngValue]="option.measure">{{option.display}}</option>
                </select>
            </div>
            <div class="col-12">
                <input [(ngModel)]="cityFilter" class="form-control mt-2" placeholder="Search by city" type="string" />
                <input [(ngModel)]="nameFilter" class="form-control mt-2" placeholder="Search by name" type="string" />
                <input [(ngModel)]="priceFilter" class="form-control mt-2" placeholder="Search by price" type="number" />
            </div>
        </div>

        <div class="col-lg-10 col-md-8 col-sm-6">
            <app-hotel-details [nameFilter]="nameFilter" [cityFilter]="cityFilter" [priceFilter]="priceFilter" [measure]="measure"></app-hotel-details>
        </div>

    </div>
</div>